body {
	text-align: center;
	margin: 0;
}

h1 {
	font-family: "Raleway", sans-serif;
	font-weight: 400;
	margin: 0;
}

p {
	font-family: "Droid Serif", serif;
}

a {
	text-decoration: none;
	margin: 0 20px;
	border-bottom: 2px solid transparent;
}
header {
	background-color: #f15b31;
	color: #ffffff;
	padding: 30px 20px;
}
nav {
	background-color: #00a6b3;
	padding: 20px 0;
}
main {
	width: 850px;
	margin: 35px auto;
}
img {
	margin: 40px 8px 0 8px;
}
footer {
	text-decoration: uppercase;
	padding: 0 20px;
	background-color: #0d2c40;
	color: #ffffff;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
}
a:hover {
	border-color: #ffffff;
	
}
.memory-game {
	font-family: "Raleway", sans-serif;
	color: #0d2c40;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 45px;
}
.instructions-game {
	font-family: "Raleway", sans-serif;
	color: #ffffff;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;
	text-transform: uppercase;
}
.instructions {
	font-family: "Raleway", sans-serif;
	color: #0d2c40;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;
}
.description {
	font-family: "Droid Serif", serif;
	line-height: 26px;
	font-size: 18px;
}
.copyright {
	float: left;
	font-family: "Raleway", sans-serif;
}
.message {
	float: right;
	font-family: "Raleway", sans-serif;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: "";
	clear: both;
	height: 0;
}
.name {
	color:f15b31;
	font-weight: 700;
}
.reset {
	background-color: #f15b31;
	border: none;
	color: white;
	padding: 14px 30px;
	text-decoration: none;
	display: inline-block;
	font-size: 15px;
}